html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
}

body {
    background-color: white;
    font-family: 'Montserrat';
    font-size: 18px;
}

header {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
    border-bottom: 0.5px solid #445500ff;
}


main {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 140%;
    margin: 2%;
}

h3 {
    padding: 2%;
    font-size: 110%;
    margin: 2%;
}

h4 {
    padding: 1%;
    font-size: 100%;
    margin: 2%;
}

.allContainer {
    margin: auto;
    display: block;
    max-width: 100vw;
    min-height: 100vh;
    text-align: center;
    background-image: url(../images/maatalousWeb.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    overflow-x: hidden;
}

.contentWrap {
    padding: 40px;
}

section {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 15px;
    width: 80%;
    margin: 10px auto;
    padding: 5px;
}

.priceCategory {
    height: 20%;
}

p {
    padding: 5px;
    margin: 0;
}

.fieldName {
    padding: 5px;
    margin: 0;
    font-size: 100%;
}

input[type=text], input[type=number] {
    padding-left: 5px;
    padding-right: 5px;
    width: 50vw;
    height: 30px;
    text-align: center;
    color: #88aa00;
    border: 1px solid #88aa00;
    border-radius: 5px;
}

label {
    font-size: 90%;
    display: inline-block;
}

.boxContainer {
    padding: 10px;
}

.getData {
    height: 40px;
    border-radius: 5px;
    background-color: #ffcc00ff;
}

.getData:hover {
    background-color: #ffae00;
}

#info {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

hr {
    border: 0.5px solid #88aa00;
}

a {
    color: #88aa00;
}

a:hover {
    color: #445500ff;
}

a:visited :hover {
    color: #445500ff;
}

i {
    font-size: 120%;
    line-height: 120%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;
    margin: 0;
    font-size: 95%;
}

.infoText {
    font-size: 75%;
    line-height: 75%;
}

footer {
    bottom: 0;
    height: 30px;
    line-height: 30px;
    min-width: 50vw;
    width: 80%;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    border-top: 0.5px solid #445500ff;
}