html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    width: 100vw;
}

header {
    padding-top: 3px;
    padding-bottom: 0;
}

h1 {
    font-size: 140%;
}

h3 {
    padding: 2px;
    font-size: 120%;
}

h4 {
    padding: 2px;
    font-size: 100%;
}

.allContainer {
    margin: auto;
    display: block;
    width: 50vw;
    height: 100%;
    text-align: center;
    background-image: url(../images/maatalousWeb.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
}

.footerContainer {
    padding-bottom: 40px;
}

section {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    padding: 3px;
}

.priceCategory {
    height: 20%;
}

p {
    padding: 5px;
    margin: 0;
}

.fieldName {
    padding: 5px;
    margin: 0;
    font-size: 100%;
}

input[type=text], input[type=number] {
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;
    height: 30px;
    text-align: center;
    color: #88aa00;
    border: 1px solid #88aa00;
    border-radius: 5px;
}

label {
    font-size: 90%;
}

.boxContainer {
    padding: 10px;
}

.getData {
    height: 40px;
    border-radius: 5px;
}

#info {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
}

.infoText {
    font-size: 75%;
}

footer {
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 50vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
}